h3 {
  font-family: 'Righteous'
}
p {
  font-family: 'Catamaran', sans-serif;
}
a {
  color:#96ACB7;
}

#Skill li {
  list-style-type: square;
}
#Córdoba-img {
  margin-right:15px;
}
.experience-div{
  height: 900px;
  margin-top: 25px
}
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
.Text {
  font-family: 'catamaran';
  font-weight: bold;
}
.skillDiv {
  height:1000px;
  margin-top: 40%;
}
.educationDiv {
  height:1000px;
  margin-top: 40%;
}

#sammySlug {
  height:160px;
  width:200px;
  margin-right: 20px;
}

.icons {
  margin-left: 20px;
  color:#4B4A67;
}
.aboutText {
  background:/*linear-gradient(to right, #8DB580 , #34403A)*/;
  font-family: 'Righteous';
  margin-top:25%;
  height:800px;
  width:100%;
}
.listText {
  font-family: 'catamaran';
  margin-left:7%;
}
.text-header {
  margin-top:15%;
  font-family: 'Righteous';
}
.aboutText {
  font-family:'Righteous';
}
#education {
  font-family: 'Righteous'
}

.descriptionText {
  font-family:'catamaran';
  font-weight:600;
}
#iconGroup {
  margin-left:20px;
}

#about {
  color:#D4E4BC;
}
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #4B4A67;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin-top: 80%;
  padding: 0;
}
.sidebar-text {
  text-align: center;
  font-size:24px;
}

.seanPic {
  height:200px;
  width:200px;
  border-radius: 50%;
  border:5px solid #96ACB7;
}

.linkText {
  font-size:20px;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}